body {
    background-image: url("../images/full-bloom.png");
    padding: 0;
    color: #777777;
    border-color: #666666;
    align-content: center;

}

.video-cell {
    margin: 10px;
}

.heading {
    padding-left: 5px;
}

.for-mobile {
    display: none;
}

.non-mobile {
    display: block;
}

.bold {
    font-weight: bold;
}

.bio-image {
    margin: 0 auto;
    float: center;
    margin-bottom: 10px;

}

 .main-bio {
    padding: 5px;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 25px;
    border-width: 2px;
            border-style: solid;
            border-color: #dddddd

}


@media screen and (max-width: 767px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      float: left;
    }

    .video-cell {
        width: 100%;
    }

    .for-mobile {
        display: block;
        width: 100%;
        margin: 3px;
    }

    .non-mobile {
        display: none;
    }

    .video-cell {
        margin: 3px;
       
    }
    
    .heading {
        padding-left: 7px;
    }
     .main-bio {
        padding: 0px;
    }
    .container {
        width: 100%;
        max-width: 767px;
        float: left;
        background-color: #ffffff;
        padding: 5px;
        margin: 0 auto;
        margin-top: 25px;
        border-width: 0px;
        border-top: 2px;
                border-style: solid;
                border-color: #dddddd
    
    }
    
}