body {
    background-image: url("../images/full-bloom.png");
    padding: 0;
    color: #777777;
    border-color: #666666;
    align-content: center;

}

.video-cell {
    margin: 10px;
}

.heading {
    padding-left: 10px;
}

.bold {
    font-weight: bold;
}

.bio-image {
    margin: 0 auto;
    float: left;

}

.main-bio {
    padding: 5px;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 960px;
    padding: 20px;
    /* margin: 0 auto; */
    margin-top: 25px;
    border-width: 2px;
            border-style: solid;
            border-color: #dddddd

}


@media (max-width: 576px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      float: left;
    }

    .container {
        background-color: red;
        width: 100%;
    max-width: 5760px;
    float: left;
    }
}